@model ToDoListMVC.DAL.Item

@{
    ViewBag.Title = "To Do List - Create";
}

<h2>Create</h2>
<hr />
<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    <input type="submit" value="Add new task" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>